<p class="h1 pt-5">
    Welcome to <span class="text-uppercase text-danger">Casino Star</span>
</p>
<div class="my-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus tincidunt eros, ut elementum quam convallis
    venenatis.
    Nam eros felis, cursus sit amet leo sit amet, faucibus condimentum eros. Aenean consectetur neque vitae tincidunt
    volutpat.
    Donec tempor quam metus, ac commodo lectus hendrerit quis. Quisque eu ante sed ipsum consequat fringilla. Nam
    eleifend malesuada egestas.
    Vivamus mattis dui fringilla, euismod ligula venenatis, tempor neque. Cras consectetur, dolor sed sagittis
    tincidunt,
    tellus lorem aliquet justo, vel tincidunt ante nibh eu est.
    Curabitur viverra commodo elit id vulputate. Nam id urna a quam rutrum fermentum.
    Suspendisse sagittis ligula semper felis sodales imperdiet vitae vitae tellus. Etiam dictum feugiat sollicitudin.
    Suspendisse dignissim, mi non iaculis aliquam, tellus metus tincidunt nibh, quis eleifend lacus nulla nec tortor.
    Duis sed eros tortor. Proin aliquet mi sit amet pellentesque ultrices. Aenean bibendum sed dolor eget tempor.
    Curabitur mollis sit amet mauris non elementum. Proin mauris dui, ullamcorper at orci non, suscipit vestibulum
    justo.
</div>