<p class="h1 pt-5">
    Welcome to <span class="text-uppercase text-danger">Casino Star</span>
</p>
<div class="my-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus tincidunt eros, ut elementum quam convallis
    venenatis.
    Nam eros felis, cursus sit amet leo sit amet, faucibus condimentum eros. Aenean consectetur neque vitae tincidunt
    volutpat.
    Donec tempor quam metus, ac commodo lectus hendrerit quis. Quisque eu ante sed ipsum consequat fringilla. Nam
    eleifend malesuada egestas.
    Vivamus mattis dui fringilla, euismod ligula venenatis, tempor neque. Cras consectetur, dolor sed sagittis
    tincidunt,
    tellus lorem aliquet justo, vel tincidunt ante nibh eu est.
    Curabitur viverra commodo elit id vulputate. Nam id urna a quam rutrum fermentum.
    Suspendisse sagittis ligula semper felis sodales imperdiet vitae vitae tellus. Etiam dictum feugiat sollicitudin.
    Suspendisse dignissim, mi non iaculis aliquam, tellus metus tincidunt nibh, quis eleifend lacus nulla nec tortor.
    Duis sed eros tortor. Proin aliquet mi sit amet pellentesque ultrices. Aenean bibendum sed dolor eget tempor.
    Curabitur mollis sit amet mauris non elementum. Proin mauris dui, ullamcorper at orci non, suscipit vestibulum
    justo.
    Curabitur aliquet imperdiet tempor. Nunc ut lacus faucibus, rhoncus arcu sed, pulvinar diam. Nunc nec neque finibus,
    tempus neque sit amet, elementum velit. Vivamus ut pretium urna.
    Nulla volutpat imperdiet metus a gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus.
    Suspendisse imperdiet a purus vel sodales. Aliquam erat volutpat. Phasellus quis eros at eros rutrum eleifend.
    Donec sodales ac enim nec auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos.
    Aliquam lacus turpis, iaculis id vehicula varius, dictum cursus ligula.
    Duis dictum malesuada felis, vel malesuada urna tempor nec. Vivamus hendrerit leo sed facilisis tempor.
    Aenean pharetra rutrum tincidunt. Proin mattis venenatis congue. Donec ac neque libero. Vivamus non bibendum diam.
    Donec turpis nisl, ultrices ut nisi quis, vestibulum pharetra velit. Aenean id ligula accumsan, venenatis magna sit
    amet, aliquet purus.
    Nullam cursus dolor eget placerat bibendum. Nam vitae cursus quam. Nulla commodo, ligula ac ultrices viverra, dui
    leo accumsan magna,
    et cursus velit nisi sit amet dui. Cras eleifend enim at condimentum vulputate. Praesent et pellentesque est.
    Ut lacinia eros nec sem accumsan feugiat. Vivamus nec felis ipsum. Ut sagittis ligula eget ante condimentum, eu
    commodo tellus cursus.
    Nunc tristique accumsan ornare. Donec id nisl ultrices, aliquet purus blandit, convallis nunc. Vivamus nulla metus,
    vehicula eget auctor at, porta et quam. Mauris orci lectus, mattis sit amet massa at, condimentum ornare velit.
</div>