<div class="container text-start">
    <h1 class="text-center">Privacy Policy</h1>
    <p>Last updated: January 1, 2024</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero neque quam eos, enim quaerat incidunt magnam
        veniam rem facere deleniti ullam molestiae velit id officiis blanditiis ratione quidem. Ea, in.</p>
    <h2 class="text-center">Lorem, ipsum dolor.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error recusandae, laboriosam velit in iste, tenetur
        asperiores placeat cumque officiis illum beatae maiores ipsa accusantium distinctio. Minus non atque ullam quia.
    </p>
    <h2 class="text-center">Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, modi! Nobis velit quam eligendi ipsam aperiam
        voluptas consequatur nemo, est numquam! Non saepe unde illum provident eius commodi, a dignissimos?</p>
</div>