a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.border-CasinoNavBar {
  border-bottom: 1px solid rgba(var(--Casino-Inside), 0.5);
}

.settings-button{
  width: 1.7rem;
}

.logout-button{
  width: 7rem;
}

.money-icon{
  width: 1rem;
}